apiVersion: apps/v1
kind: Deployment
metadata:
  name: bankops-api
  labels:
    app: bankops-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bankops-api
  template:
    metadata:
      labels:
        app: bankops-api
    spec:
      containers:
      - name: bankops-api
        image: bankops-api:0.2
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 5
